<h1> <%= @project.name %> </h1>
<h1> <%= @project.description %> </h1>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= "#{user.first_name} #{user.last_name}" %>
    <%= user.email %>
  </li>
  <% end %>
</ul>
