/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
*/
/* @import url('https://fonts.google.com/specimen/Buenard') */

body {
  background-color: #D9CEB2;
}

.grid-x {
  margin: 15px 25px 15px 25px;
}

.callout {
  margin: 15px 15px 15px 15px;
  background-color: #948C75;
  padding: 60px 10px 60px 10px;
  border-color: #D5DED9;
}

.top-bar, .top-bar-text, a {
  font-family: 'Buenard', serif;
  color: #D5DED9;
}

h3, h1, h2 {
  font-family: 'Buenard', serif;
  color: #D5DED9;
  font-weight: 450;
}

.top-bar-section, .right, p {
  background-color: #99B2B7;
}

.top-bar {
  background-color: #99B2B7;
}

p {
  color: #99B2B7;
}
