@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: image-url('marble-bg.jpg');
  background-size: cover;
}

.grid-x {
  margin: 15px 25px 15px 25px;
}

.callout {
  margin: 15px 15px 15px 15px;
  background-color: gray;
  opacity: 75%;
  padding: 60px 10px 60px 10px;
  border: 3px solid white;
  color: white;
}

.restaurant-name {
  font-family: ‘Lobster Two’, cursive;
  font-weight: 700;
  color: #D5DED9;
}

.top-bar-section, .right, .sign-stuff {
  background-color: #99B2B7;
}

.top-bar-section, .left, .sign-stuff-invisible {
  background-color: #99B2B7;
  color: transparent;
}

.top-bar {
  background-color: #99B2B7;
}

.gimme-space {
  margin-top: 10px;
  margin-bottom: 10%;
}

.devise-stuff, a {
  color: black;
}
