@import url('https://fonts.google.com/specimen/Buenard');

.cell {
  margin: 20px 20px 20px 20px;
}

.address {
  background-color: #99B2B7;
  color: black;
}

.bottom-bar {
  background-color: #484848;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 30px;
}
